$primary-color: #43b1d2;
$background-color: #cad3e5;


@font-face{
  font-family: "Myriad Pro";
  src: url(../fonts/myriad_pro.otf);
}
@font-face{
  font-family: "Calibri";
  src: url(../fonts/calibri.ttf);
}
@font-face{
  font-family: "Tahoma";
  src: url(../fonts/tahoma.ttf);
}

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}

figure{
  margin: 0;
  padding: 0;
}