@import "../../_helpers/variables";
@import "../../../node_modules/normalize.css/normalize.css";
@import "../Header/Brand";

.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;

  &__socials {
    display: flex;
    padding: 0;
  }

  &-brand {
    background-color: #43b1d2;
  }

  &-info {
    background-color: #43b1d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
  }
}

.brand {
  @media (max-width: 443px) {
    display: flex;
    align-items: center;
    margin: 15px;
  }

  &__img {
    @media (max-width: 443px) {
      width: 40px;
      height: 40px;
    }
  }

  &__name {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__phone {
    font-size: 20px;
    font-family: "Tahoma";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    padding-right: 20px;
    @media (max-width: 443px) {
      font-size: 14px;
      padding-right: 5px;
    }

    &_number {
      padding-left: 5px;
    }
  }
}

.call-back {
  display: flex;
  align-items: center;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  &__lable {
    font-size: 24px;
    font-family: "Calibri";
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 10px;
    line-height: 1.7;
    @media (max-width: 500px) {
      font-size: 15px;
    }
  }

  &__input {
    border: none;
    width: 200px;
    height: 28px;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
    @media (max-width: 800px) {
      border-radius: 5px;
      margin-bottom: 10px;
    }
    @media (max-width: 500px) {
      width: 120px;
      height: 18px;
    }
  }

  &__button {
    width: 102px;
    height: 33px;
    background-color: #cbd4e6;
    border-radius: 0 8px 8px 0;
    border-left: solid 1px #494848;
    @media (max-width: 800px) {
      border-radius: 8px;
    }
    @media (max-width: 500px) {
      width: 87px;
      height: 26px;
    }
  }
}

.footer-content {
  background-color: #e5e9f2;
  font-family: "Myriad Pro";

  &__block {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1100px) {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Calibri";
    color: black;
    font-weight: bold;
  }

  &__title {
    font-family: "Calibri";
    font-size: 24px;
    margin: 30px 0 15px 0;
  }
}

.list__item {
  display: flex;
  align-items: center;
  padding-bottom: 60px;

  &:first-child {
    padding-top: 40px;
  }

  @media (max-width: 771px) {
    &:last-child {
      padding-bottom: 0;
    }
  }

  &-text {
    font-size: 14px;
    color: #a7aab1;
    padding-left: 40px;
    display: flex;
    flex-direction: column;

    &_link {

      font-family: "Myriad Pro";
      color: #a7aab1;
      font-size: 14px;
      letter-spacing: 1px;

    }
  }

  &_mail {
    width: 40px;
    height: 31px;
  }

  &_phone {
    width: 27px;
    height: 40px;
    padding-left: 5px;
    margin-right: 7px;
  }


}

.footer-links {
  &__item {
    padding-bottom: 15px;
    font-size: 16px;
    letter-spacing: 0px;
  }

  &__item:first-child {
    padding-top: 40px;
  }

  &__arrow {
    font-family: "Myriad Pro";
    color: #a7aab1;
    font-size: 14px;
    letter-spacing: 1px;

    &::before {
      content: "\25B6";
      color: #0087be;
      padding-right: 21px;
    }
  }
}

.footer-form {
  @media (max-width: 771px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-top: 55px;
    background-color: #e5e9f2;
  }

  &__textarea {
    margin-top: 30px;
  }

  &__input {
    background-color: #e5e9f2;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #b2b5bc;
    border-bottom: 1px #000 solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    letter-spacing: 0px;
    width: 200px;
    padding: 0 0 15px 0;
    @media (min-width: 415px) and (max-width: 771px) {
      width: 400px;
    }
  }

  &__button {
    margin-top: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #0082b7;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-family: "";
    font-weight: 700;
    text-align: center;
    width: 136px;
    height: 36px;
    border: none;
  }
}

.socials {
  border: none;
  height: 30px;
  width: 40px;
  display: inline-block;
  background: url(./Img/socials.png) no-repeat;


  &_google {
    background-position: -40px 0;
    cursor: pointer;
  }

  &_vk {
    background-position: -100px 0;
    cursor: pointer;
  }

  &_youtube {
    background-position: -155px 0;
    cursor: pointer;
  }

  &_ln {
    background-position: -205px 0;
    cursor: pointer;
  }
}