@import "../../_helpers/variables";
@import "../../../node_modules/normalize.css/normalize.css";

.brand__phone {
  display: flex;
  font-size: 20px;
  font-family: "Tahoma";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
  @media (max-width: 443px) {
    font-size: 14px;
    padding-right: 5px;
  }

  &_logo {
    width: 20px;
    height: 20px;
  }

  &_number {
    padding-left: 5px;
  }
}