@import "../../_helpers/variables";
@import "../../../node_modules/normalize.css/normalize.css";

.articles {
  background-color: #e5e9f2;

  &__block {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1232px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.article {
  @media (max-width: 1232px) {
    max-width: 810px;
    margin: 0 auto;
  }

  &__title {
    font-size: 36px;
    font-style: italic;
    @media (max-width: 806px) {
      text-align: center;
    }
  }

  &__photo {
    @media (max-width: 400px) {
      width: 100%;
    }
    @media (max-width: 806px) {
      margin-bottom: 10px;
    }
    @media (min-width: 807px) {
      margin-right: 20px;
    }
  }

  &__content {
    display: flex;
    @media (max-width: 806px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 14px;
    color: #494848;
    &_slide2{
      color: red;
    }
  }

  &__section {
    margin-bottom: 20px;
    @media (max-width: 500px) {
      &_br {
        display: none;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    @media (max-width: 400px) {
      display: flex;
      justify-content: space-around;
    }

  }

  &__arrows {
    display: flex;

    &_arrow {
      background: #cbd4e6;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 36px;
      margin-left: 10px;
    }

    &_arrow:first-child {
      margin-right: 5px;
    }
  }

  &__read-more {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }

  &__reviews {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    @media (max-width: 1232px) {
      display: flex;
      justify-content: center;
    }
  }
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}